*{
    margin:0;
    padding:0;
} 

nav{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    background-color:#F0F9FF ; 
    width:100%;
    padding: 10px 10%;
    
    

} 

.nav-menu{
    display: flex;
    align-items:center;
    text-align:center;
    gap:28px;
} 

.nav-menu li{
    list-style:none;
}  

.nav-menu li a{
    text-decoration:none;
    font-size:16px;
    color:#575757;
}
.nav-button button{ 
    background-color:#E8BA2E ;
    padding:14px 5%; 
    border:none; 
    font-size:16px;
    border-radius:10px; 
    display: flex; 
    gap:10px; 
    align-items:center;

} 

/* header banner style */ 

header{
    background-image:linear-gradient(rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)), url('../image/Background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    width:100%;
    height:80vh; 

}  

.banner-content{
    display:grid;
    justify-content: left;
    text-align:left;
    gap:18px;
    align-items: end;
    padding: 15% 5%;

} 

.banner-content h2{
    color: #F0F9FF; 
    font-weight:bold; 
    font-size:88px; 
    
} 
 
.banner-content p{ 
    color:#F0F9FF;
    width:43%;



}

.btn{
    display:flex;
    align-items:center;
    gap:10px;
    background-color:#E8BA2E;
    padding:14px 5%;
    width:220px;
    border:none;
    border-radius:10px;
}  

 

/* statics section */ 

.even-stats-container{
    display:grid; 
    grid-template-columns:repeat(4, 1fr);
    align-items:center;
    text-align:center;
    justify-content:center;
    background-color:#E8BA2E;
    width:96%;
    height: 25vh; 
    margin:30px 2%;
} 

.stat h3{
    font-size:72px;
    font-weight:bold;
    margin-top:15px;
} 

.stat p{
    font-size:16px;
    color:#575757;
} 


/* Explore host style */ 

.explore-host-head{
    font-size:45px;
    font-weight:600;
    text-align:center;
    margin:60px 0;

} 

.host-cities{
    display:flex; 
    justify-content:center;
    gap:60px; 
    margin:18px 8%;
    margin-top: 40px;

} 

.host-cities-content{
    display:grid;
    gap:6px;
} 

.host-cities-content h3{
    font-size:36px;
    font-weight:bold;
} 
.host-cities-content p{
    font-size:16px;
    color:#575757;
    width:58%;
    line-height: 150%;
} 


.host-cities-list {
    display: grid;
    gap:5px;
    font-size:16px;
    color:#575757;
    margin-left:20px;
} 

.host-btn{
    background-color:#E8BA2E;
    border:none;
    border-radius:10px;
    padding:20px 1%;
    cursor:pointer;
    margin: 30px 40%;
    display:flex;
    align-items:center; 
    gap:10px;

    
    

} 

/* Matches table style */ 

.matches-table .top{
     
    margin:50px 10%;
    display:grid;
    gap:10px;
}  

.matches-table .top p{
    font-size:16px;
    color:#575757;
} 

.matches-table .top h3{
    font-size:32px;
    font-weight:bold;
}

.schedule-table{
    width:80%;
    border-collapse: collapse;
    margin:1px auto;

} 

.schedule-table th{
    background-color:#A73131 ;
    color:white;
}

.schedule-table th,
.schedule-table td{
    border: 1px solid black;
    padding: 15px;
    text-align: center;
} 

.schedule-table  .date-time{
    color:#A73131;
} 
   .open{
    color:#A73131;
   } 

   /* footer style */ 

   footer{
    background-color:#F0F9FF ;
    width:100%;
    height:40vh;
    margin-top:20px;
   } 

   .footer-section{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin:20px 10%;
    padding-top: 5%;
    gap:200px;
    

   } 

   



